.vh-100{
    padding-top: 30px;
  }
  .title{
    text-align: center;
    padding-top: 30px;
  }
  #image{
    padding-top: 270px;
    height: 200px;
   
  }

  #formCnt{
    padding-top: 100px;
  }

  input.ng-invalid.ng-touched{
    border-color: red;
  }