<div id="headerdiv">
  <nav class="container-fluid navbar navbar-expand-lg">
    <div class="collapse navbar-collapse container" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/dashboard']" id="navbarDropdown"><span class="glyphicon glyphicon-home"
              aria-hidden="true" style="font-weight: bold;"> Dashboard</span></a>
        </li>
        <li style="padding-top: 15px;margin-left: px;width: px;">
          <a>Server Time: <b>{{this.serverTime | date}} </b> </a>
        </li>
        <li class="nav-item dropdown" style="margin-left:px;">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false"  style="margin-left: px;">
            <a>Welcome <b>{{this.userName}}!</b> </a>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" values="All" href="#" [routerLink]="['/forgot-password']">Forgot Password</a>
            <a class="dropdown-item" values="All" href="#" [routerLink]="['/forgot-password']">Change Password</a>
            <a class="dropdown-item" values="Appliences" href="#" (click)="Logout()">LogIn</a>
            <a class="dropdown-item" values="Home Decore" href="#" (click)="Logout()">LogOut</a>
          </div>
        </li>
        <li>
          <button class="btn btn-primary" style="margin-top: 15px; align-items: end;" (click)="Logout()">LogOut</button>
        </li>
      </ul>
    </div>
  </nav>

</div>


<router-outlet></router-outlet>
<div class="container-fluid" id="footer" style="text-align: center;">
  © 2023 Copyright:EmployeeManagment
</div>

<script>

  // $(document).ready(function(){
  //     $(".dropdown-menu li a").click(function(){
  //     $("#navbarDropdown1").text($(this).text());
  //     });
  // });

  // $(document).ready(function(){
  //   $('#navbarDropdown').click(function(){
  //     alert("notification");
  //   });
  // });
</script>